<!DOCTYPE html>
<html>
<head>
  <title>Audio Recording</title>
</head>
<body>
  <h1>Audio Recording</h1>
  <button id="startRecording">Start Recording</button>
  <button id="stopRecording" disabled>Stop Recording</button>
  <button id="submit">Submit</button>
  <button id="delete" data-audio-id="<%= audioId %>" style="display: none;">Delete</button>
  <script src="/javascripts/record.js"></script>
</body>
</html>
